examples/velbus-basic-relay-dimmer.json
[
  {
    "id": "tab-velbus-example",
    "type": "tab",
    "label": "Velbus Basic Example",
    "disabled": false,
    "info": "Basic Velbus example — relay toggle and dimmer control.\n\nBefore using:\n1. Configure the velbus-bridge node with your gateway address.\n2. Deploy and inject the 'Scan bus' node to discover modules.\n3. Open each velbus-relay and velbus-dimmer node and select the correct address from the dropdown.\n4. Re-deploy.\n\nThe Dashboard 2 UI will be available at /dashboard"
  },

  {
    "id": "bridge-example",
    "type": "velbus-bridge",
    "name": "Velbus Gateway",
    "host": "127.0.0.1",
    "port": "6000",
    "tls": false,
    "authKey": ""
  },

  {
    "id": "comment-scan",
    "type": "comment",
    "z": "tab-velbus-example",
    "name": "STEP 1 — Scan the bus first",
    "info": "Inject once to discover all modules. Address dropdowns in relay/dimmer nodes are populated from scan results.",
    "x": 200,
    "y": 60,
    "wires": []
  },

  {
    "id": "inject-scan",
    "type": "inject",
    "z": "tab-velbus-example",
    "name": "Scan bus",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 160,
    "y": 120,
    "wires": [["scan-example"]]
  },
  {
    "id": "scan-example",
    "type": "velbus-scan",
    "z": "tab-velbus-example",
    "name": "Bus scan",
    "bridge": "bridge-example",
    "x": 340,
    "y": 120,
    "wires": [["debug-scan"]]
  },
  {
    "id": "debug-scan",
    "type": "debug",
    "z": "tab-velbus-example",
    "name": "Scan results",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 540,
    "y": 120,
    "wires": []
  },

  {
    "id": "comment-relay",
    "type": "comment",
    "z": "tab-velbus-example",
    "name": "STEP 2 — Relay control",
    "info": "Dashboard toggle → relay on/off command.\nRelay status events → Dashboard state indicator.\n\nOpen velbus-relay and select your relay module address and channel.",
    "x": 200,
    "y": 220,
    "wires": []
  },

  {
    "id": "ui-relay-toggle",
    "type": "ui-switch",
    "z": "tab-velbus-example",
    "name": "Relay toggle",
    "label": "Relay",
    "group": "ui-group-main",
    "order": 1,
    "width": 3,
    "height": 1,
    "passthru": false,
    "decouple": true,
    "topic": "relay",
    "topicType": "str",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "#00897B",
    "onlabel": "ON",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "offlabel": "OFF",
    "x": 160,
    "y": 280,
    "wires": [["fn-relay-command"]]
  },
  {
    "id": "fn-relay-command",
    "type": "function",
    "z": "tab-velbus-example",
    "name": "Toggle → relay cmd",
    "func": "// Convert Dashboard 2 switch to velbus-relay command\nmsg.payload = { cmd: msg.payload ? 'on' : 'off' };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 360,
    "y": 280,
    "wires": [["relay-example"]]
  },
  {
    "id": "relay-example",
    "type": "velbus-relay",
    "z": "tab-velbus-example",
    "name": "Relay ch1",
    "bridge": "bridge-example",
    "address": "",
    "channel": "1",
    "x": 580,
    "y": 280,
    "wires": [["fn-relay-status"]]
  },
  {
    "id": "fn-relay-status",
    "type": "function",
    "z": "tab-velbus-example",
    "name": "Relay status → switch",
    "func": "// Feed relay state back to Dashboard switch\nif (msg.payload && msg.payload.hasOwnProperty('on')) {\n    msg.payload = msg.payload.on;\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 780,
    "y": 280,
    "wires": [["ui-relay-toggle"]]
  },

  {
    "id": "comment-dimmer",
    "type": "comment",
    "z": "tab-velbus-example",
    "name": "STEP 3 — Dimmer control",
    "info": "Dashboard slider (0-100%) → dimmer level command.\nDimmer status events → slider and text readout.\n\nOpen velbus-dimmer-20 and select your dimmer module address and channel.",
    "x": 200,
    "y": 380,
    "wires": []
  },

  {
    "id": "ui-dimmer-slider",
    "type": "ui-slider",
    "z": "tab-velbus-example",
    "name": "Dimmer slider",
    "label": "Dimmer level",
    "group": "ui-group-main",
    "order": 2,
    "width": 6,
    "height": 1,
    "passthru": false,
    "outs": "end",
    "topic": "dimmer",
    "topicType": "str",
    "min": 0,
    "max": 100,
    "step": 1,
    "className": "",
    "x": 160,
    "y": 440,
    "wires": [["fn-dimmer-command"]]
  },
  {
    "id": "fn-dimmer-command",
    "type": "function",
    "z": "tab-velbus-example",
    "name": "Slider → dimmer cmd",
    "func": "// Convert Dashboard 2 slider value to velbus-dimmer command\nconst level = Math.round(msg.payload);\nmsg.payload = { cmd: level > 0 ? 'set' : 'off', level: level };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 360,
    "y": 440,
    "wires": [["dimmer-example"]]
  },
  {
    "id": "dimmer-example",
    "type": "velbus-dimmer-20",
    "z": "tab-velbus-example",
    "name": "Dimmer ch1",
    "bridge": "bridge-example",
    "address": "",
    "channel": "1",
    "x": 580,
    "y": 440,
    "wires": [["fn-dimmer-status"]]
  },
  {
    "id": "fn-dimmer-status",
    "type": "function",
    "z": "tab-velbus-example",
    "name": "Dimmer status → slider + text",
    "func": "// Feed dimmer level back to Dashboard slider\nif (msg.payload && msg.payload.hasOwnProperty('percent')) {\n    const level = Math.round(msg.payload.percent);\n    // Update slider\n    const sliderMsg = { payload: level, topic: 'dimmer' };\n    // Update text label\n    const textMsg = { payload: level + '%', topic: 'dimmer' };\n    return [sliderMsg, textMsg];\n}\nreturn [null, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 800,
    "y": 440,
    "wires": [["ui-dimmer-slider"], ["ui-dimmer-text"]]
  },
  {
    "id": "ui-dimmer-text",
    "type": "ui-text",
    "z": "tab-velbus-example",
    "name": "Dimmer level readout",
    "label": "Current level",
    "group": "ui-group-main",
    "order": 3,
    "width": 3,
    "height": 1,
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "style": false,
    "className": "",
    "x": 1060,
    "y": 440,
    "wires": []
  },

  {
    "id": "comment-debug",
    "type": "comment",
    "z": "tab-velbus-example",
    "name": "STEP 4 — Debug all events",
    "info": "Wire any node output here to see raw payloads in the debug panel.",
    "x": 200,
    "y": 560,
    "wires": []
  },
  {
    "id": "debug-all",
    "type": "debug",
    "z": "tab-velbus-example",
    "name": "All Velbus events",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 360,
    "y": 600,
    "wires": []
  },

  {
    "id": "ui-group-main",
    "type": "ui-group",
    "name": "Velbus Control",
    "page": "ui-page-main",
    "width": 6,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui-page-main",
    "type": "ui-page",
    "name": "Velbus",
    "ui": "ui-main",
    "path": "/velbus",
    "icon": "mdi-home-lightning-bolt",
    "layout": "grid",
    "theme": "ui-theme-default",
    "order": 1,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui-main",
    "type": "ui-base",
    "acceptsClientConfig": ["ui-page", "ui-control"],
    "dialogCloseIcon": "mdi-close",
    "showPathInSidebar": false,
    "navigationStyle": "default",
    "titleBarStyle": "default"
  },
  {
    "id": "ui-theme-default",
    "type": "ui-theme",
    "name": "Default Theme",
    "colors": {
      "surface": "#ffffff",
      "primary": "#0d7eb8",
      "bgPage": "#eeeeee",
      "groupBg": "#ffffff",
      "groupOutline": "#cccccc"
    },
    "sizes": {
      "pagePadding": "12px",
      "groupGap": "12px",
      "groupBorderRadius": "4px",
      "widgetGap": "6px"
    }
  }
]
